{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 8080,
    "password": [
        "<TROJAN_PASSWORD>"
    ],
    "ssl": {
        "cert": "/etc/letsencrypt/live/<DOMAIN>/fullchain.pem",
        "key": "/etc/letsencrypt/live/<DOMAIN>/privkey.pem",
        "sni": "<DOMAIN>",
        "session_ticket": true,
        "reuse_session": true
    },
    "tcp": {
        "prefer_ipv4": true,
        "no_delay": true,
        "keep_alive": true,
        "fast_open": false
    },
    "log_level": 1,
    "log_file": "/var/log/trojan-go/access.log"
}
